dnspython==1.16.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Executor==0.9.3
Flask-JWT-Extended==3.24.1
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
flask-restplus==0.13.0
Flask-WTF==0.14.2
more-itertools==5.0.0
oauthlib==3.0.1
pathlib2==2.3.4
pymongo==3.9.0
requests==2.22.0
Werkzeug==0.16.0
WTForms==2.2.1
zipp==2.2.0

